@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
  background: url("../css/img/gb.png") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

nav.side-menu{
    width: 80px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #0d235f;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.2s;
}

nav.side-menu.expand{
    width: 300px;
}

.btn-expand {
    width: 100%;
    padding-left: 10px;
}

.btn-expand > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.menu-item {
    transition: .2s;
}

ul li.active{
    background-color: #0d235f;
}

ul li.menu-item:hover{
    background: #0d235f;
}

ul li.menu-item a{
   color: #fff; 
   text-decoration: none;
   font-size: 20px;
   padding: 20px 4%;
   display: flex;
   margin-bottom: 20px;
   line-height: 40px;
}

ul li.menu-item a .txt-link{
    margin-left: 30px;
}

ul li.menu-item a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

